In [1]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from itertools import combinations

In [72]:
data=pd.read_csv("data/_AAMLGQEDPPQHGLPR_3_31_FAS_MOUSE.csv")
data.head()

   NEH     pxt      RMSE  theo_A1/A0  exp_A1/A0  theo_t_A1/A0  exp_t_A1/A0
0   30  0.0495  0.024650    0.937179   0.978597      2.500023     2.654303
1   30  0.0496  0.024450    0.937179   0.978597      2.503345     2.654303
2   30  0.0497  0.024251    0.937179   0.978597      2.506668     2.654303
3   30  0.0498  0.024053    0.937179   0.978597      2.509991     2.654303
4   30  0.0499  0.023855    0.937179   0.978597      2.513315     2.654303

In [73]:
ph=1.5574E-4
ph

0.00015574

In [74]:
data["const"]=data.NEH*data.pxt
data["new_pxt"]=1-ph- (data.const/( (1-ph)*(data["exp_t_A1/A0"]-data["theo_A1/A0"]) ) )
data["new_neh"]=data.const/data.new_pxt
data=data.sort_values(by="RMSE",ascending=True)
data=data[(data.new_pxt>0) & (data.new_neh>0) & (data.new_neh<118)]

# data["temp"]= (data.new_neh*data.new_pxt)/( (1-ph)*(1-ph-data.new_pxt) )
# data["temp2"]=(data["exp_t_A1/A0"]-data["theo_A1/A0"])

data["h1"]=data.NEH*data.pxt
data["h2"]=data.new_neh*data.new_pxt
data.head(290)

,NEH,pxt,RMSE,theo_A1/A0,exp_A1/A0,theo_t_A1/A0,exp_t_A1/A0,const,new_pxt,new_neh,h1,h2
166,34,0.0497,0.014095,0.937179,0.978597,2.715933,2.654303,1.689809,0.015598,108.333818,1.689809,1.689809
225,35,0.0483,0.014112,0.937179,0.978597,2.714051,2.654303,1.690508,0.015191,111.284273,1.690508,1.690508
377,37,0.0457,0.014169,0.937179,0.978597,2.709627,2.654303,1.690907,0.014958,113.039906,1.690907,1.690907
165,34,0.0496,0.014198,0.937179,0.978597,2.712167,2.654303,1.686409,0.017579,95.935720,1.686409,1.686409
456,38,0.0445,0.014198,0.937179,0.978597,2.707505,2.654303,1.691007,0.014901,113.485975,1.691007,1.691007
...,...,...,...,...,...,...,...,...,...,...,...,...
738,42,0.0386,0.017051,0.937179,0.978597,2.624009,2.654303,1.621203,0.055558,29.180215,1.621203,1.621203
437,38,0.0426,0.017055,0.937179,0.978597,2.628553,2.654303,1.618806,0.056955,28.422614,1.618806,1.618806
591,40,0.0405,0.017056,0.937179,0.978597,2.626100,2.654303,1.620004,0.056257,28.796672,1.620004,1.620004
809,43,0.0377,0.017081,0.937179,0.978597,2.622327,2.654303,1.621103,0.055617,29.147605,1.621103,1.621103
515,39,0.0415,0.017100,0.937179,0.978597,2.626298,2.654303,1.618505,0.057130,28.330236,1.618505,1.618505